* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

* {
    scroll-behavior: smooth;
}

input,
textarea,
button,
select,
span,
h2,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
    outline: none;
}

*:focus,
*:active,
*:focus-visible {
    outline: none;
}

svg,
svg * {
    outline: none;
}

i,
i:focus,
i:active {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

a svg,
button svg {
    pointer-events: none;
}


nav {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #17181A;
}

.one {
    width: 100%;
    height: 45%;
    background-color: #4A9376;
    cursor: pointer;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


.two {
    width: 100%;
    height: 55%;
    background-color: #17181A;
    cursor: pointer;
}

.png {
    position: absolute;
    right: 70%;
    display: flex;
}

img {
    width: 28rem;
    height: auto;
}

@media (max-width: 600px) {
    .png {
        position: absolute;
        right: 8.6%;
        display: flex;
    }


    img {
        width: 28rem;
        height: auto;
    }
}

@media (max-width: 400px) {
    .png {
        position: absolute;
        right: -2%;
        display: flex;
    }


    img {
        width: 22rem;
        height: auto;
    }
}