* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

}

nav {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #17181A;

}

.one {
    width: 100%;
    height: 45%;
    background-color: #4A9376;
    cursor: pointer;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


.two {
    width: 100%;
    height: 55%;
    background-color: #17181A;
    cursor: pointer;
}

.png {
    position: absolute;
    right: 70%;
    display: flex;

}

img {
    width: 28rem;
    height: auto;
}

@media (max-width: 600px) {
    .png {
        position: absolute;
        right: 8.6%;
        display: flex;
    }


    img {
        width: 28rem;
        height: auto;
    }
}

@media (max-width: 350px) {
    .png {
        position: absolute;
        right: -4%;
        display: flex;
    }


    img {
        width: 24rem;
        height: auto;
    }
}